* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #EEF0F4;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  margin: 30px auto;
  padding: 20px;
  gap: 10px;
}

.container > img {
  width: 150px;
  margin: 0 auto;
}
input {
  border: 0;
  color: #432000;
  background-color: #DCE1EB;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
}

ul {
  margin-left: 25px;
}

button {
  color: #FDFDFD;
  background-color: #AC485A;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}